* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-image: url("../../img/flip/rba-hero-ext.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Lato", sans-serif;
    color: white;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    min-height: 100vh;
}

.logo-div {
    display: flex;
    justify-content: center;
    height: fit-content;
}

    .logo-div img {
        width: 260px;
    }

.dRow-jc {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.dCol-ac {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.offer-div {
    color: white;
    padding: 4rem 0;
}

.offer-div.d375 {
    color: white;
    padding: 2rem 0;
}

    .offer-div h1 {
        font-size: 3em;
        text-align: center;
    }

    .offer-div.d375 h1 {
        font-size: 4em;
        text-align: center;
    }

        .offer-div.d375 h1 .dollar-sign {
            font-size: 0.8em;
            vertical-align: text-top;
        }

    .offer-div.d375 h3 {
        font-size: 2.5em;
        text-align: center
    }

span.off {
    font-size: 0.8em;
}

    @media(max-width: 767px) {
        .offer-div {
            padding: 2rem 0;
        }

        .offer-div h1 {
            font-size: 2em;
        }

        .offer-div.d375 h1 {
            font-size: 3em;
            text-align: center
        }

        .offer-div.d375 h3 {
            font-size: 1.5em;
            text-align: center
        }

        .title h1 {
            font-size: 1.4em;
            margin-bottom: 1rem;
        }

        span.off {
            font-size: 0.5em;
        }


        .logo-div img {
            width: 200px;
        }
    }

    @media (max-width: 450px) {
        .dRow-jc {
            gap: 1rem;
            flex-wrap: wrap;
        }

        .dCol-ac {
            flex: none;
        }

        .logo-div img {
            width: 150px;
        }
    }

    
.offer-div p {
    font-size: 10px;
    margin-top: 0px !important;
    text-align: center;
}

.title h1 {
    text-align: center;
    margin-bottom: 2rem;
}

sup {
    font-size: 12px;
}

footer sup {
    font-size: 8px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    height: auto;
    /*background-color: rgba(255, 255, 255, 0.5);*/
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 1px;
    /*background-image: url(../../img/flip/rba-prod-dhung.png);*/
    /*background-attachment: fixed;*/
    /*background-position-x: center;
    background-position-y: bottom;
    background-size: contain;*/
}

#leadform {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.form-group {
    flex: 1;
    flex-basis: auto;
    box-sizing: border-box;
    padding: 2rem 2rem;
    max-width: 350px;
}

    .form-group p {
        text-align: center;
        font-size: 1.25em;
        margin-bottom: 1.5rem;
    }

.form-step {
    display: none;
}

    .form-step.active {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: white;
        color: rgba(0, 0, 0, 0.75);
        width: 100%;
        transition: transform 2s ease-in-out;
    }

.error-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
}

.btn-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 0.5rem; /* Add some spacing between form groups and buttons */
}

.btn-next.start {
    margin: 0;
}

    .btn-next,
    .submit-btn {
        background: #f26924;
        color: white;
    }

.btn-back {
    color: #f26924;
}

.btn-next,
.btn-back,
.submit-btn {
    /*flex: 1;*/ /* Allow buttons to grow and take equal space */
    font-weight: bold;
    /*border: 0 none;*/
    border: 2px solid #f26924;
    border-radius: 1px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 1rem;
    /*margin: 0 0.5rem 0 0;*/ /* Add some spacing between buttons */
    border: 2px solid #f26924;
}

.btn-back {
    flex-basis: 20%;
}

.btn-next,
.submit-btn {
    /*flex-basis: 70%;*/
    flex: 1;
    margin-right: 0;
    margin-left: 0.5rem;
}

@media(max-width: 475px) {
    .btn-row {
        flex-wrap: wrap-reverse;
    }
    .btn-next,
    .btn-back,
    .submit-btn {
        flex-basis: 100%;
        margin: 0 0 0.5rem 0;
    }
}

.tcpa {
    margin-top: 1rem;
}

.tcpa p {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    line-height: 1em;
}

.tcpa a {
    color: blue;
    text-decoration: none;
}

.steps-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem 0;
    background-color: white;
    color: #51b057;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.indicator.active {
    border-bottom: 2px solid #51b057;
}

.input-field {
    background-color: #798dff1f;
    border: none;
    width: 100%;
    outline: none;
    font-size: 14px !important;
    font-family: "Open Sans", sans-serif !important;
    box-sizing: border-box;
    padding: 1rem;
    margin-bottom: 1rem;
}

/* Add margin-top: auto to footer to push it to the bottom */
footer {
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 100vw;
    box-sizing: border-box;
    padding: 1rem 0.5rem 1rem 1rem;
    margin-top: auto;
}

.CompliLink {
    text-align: center;
    margin-bottom: 1rem;
    
}

.offer-disc {
    text-align: left;
    font-size: 10px;
}

.footer-links {
    box-sizing: border-box;
    padding: 1rem;
    text-align: center;
    font-size: 12px;
}

a {
    color: white;
}

    a:hover {
        color: blue;
    }
