:root,
[data-bs-theme=light] {
  --white: #fff;  
  --black: #000;
  --superDkTaupe: #6A6A68;
  --dkTaupe: #79776A;
  --medTaupe: #919085;
  --ltTaupe: #D1D1CC;
  --xLtTaupe: #E6E6E3;
  --burgundy: #700000;
  --orange: #f5761e;
  --orangeDark: #e6650c;
  --subtleGray: #d1d1cc;
  --rba-green: #53B055; 
  --warning: #dd0000;
  --textSize1: 2.5rem; /*40px*/
  --textSize2: 1.5rem; /*24px*/
  --textSize3: 1.25; /*20px*/
  --textSize4: 1.125rem;    /*18px*/
  --textSize5: 1rem; /*16px*/
  --textSize6: 0.875rem; /*14px*/
  --textSize7: 0.75rem; /*12px*/
}

@media screen and (max-width: 767px) {
  :root,
  [data-bs-theme=light] {
    --textSize1: 2.222rem; /*40px*/
    --textSize2: 1.556rem; /*28px*/
    --textSize3: 1rem; /*18px*/
    --textSize4: 0.889rem; /*16px*/
    --textSize5: 0.778; /*14px*/
    --textSize6: 0.556rem; /*10px*/
}
}


@font-face {
    font-family: itcfranklingothic;
    src:url("../fonts/itcfranklingothicstd-book.otf");
}
@font-face {
    font-family: itcfranklingothicDemi;
    src:url("../fonts/itcfranklingothicstd-demi.otf");
  }


body {
  background-color: #ffffff;
  color: #222;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

/**** TYPOGRAPHY ****/
p {
  font-family: 'Lato', sans-serif;
}

.title1 { font-size: var(--textSize1); line-height: 120%;}
.title2 { font-size: var(--textSize2); line-height: 120%;}
.title3 { font-size: var(--textSize3); line-height: 120%;}
.title4 { font-size: var(--textSize4); line-height: 120%;}
.title5 { font-size: var(--textSize5); line-height: 120%;}
.title6 { font-size: var(--textSize6); line-height: 120%;}
.fineCopy { font-size: var(--textSize6); line-height: 120%;}
.letterSpace1 { letter-spacing: 5px;}

#header_disc {
    background-color: #4c4c4c;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,.2),0 4px 4px 0 rgba(0,0,0,.19);
    padding: 5px 5px 5px 5px;
    text-align: center;
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    width: 100%;
    margin-bottom: 20px
}

/*** FORMS ***/
label {
    display: block;
  }
  input::placeholder {
    color: #d1d1cc!important;
  }
  input:focus::placeholder {
    color: transparent;
  }
  label {
    display: block;
  }
  input:focus::placeholder {
    color: transparent;
  }
  
  
  .ifta-label {
    margin-bottom:-30px;
    z-index:1;
    position:relative;
    padding:0px 10px 0 20px;
    pointer-events:none;
    font-weight:500;
  }
  .ifta-field {
    border:0;
    border-radius:6px;
    padding:30px 20px 10px;
    margin:0 0 15px;
    width:100%;
    box-shadow:inset 0 0 0 1px #ccc;
  }
  .ifta-field:focus {
    -webkit-appearance:none;
    outline:none;
    box-shadow:inset 0 0 0 2px var(--rba-green);
  }
  
  .group {
    width:100%:
  }
  .group:focus-within label {
    color:var(--rba-green) !important;
  }

  .ifta-field.invalid {
    -webkit-appearance:none;
    outline:none;
    box-shadow:inset 0 0 0 2px var(--warning);
  }
  
  .group.invalid label {
    color:var(--warning) !important;
  }


.wizard-section {
  background-color:#5bab5c;
}  


.wizard-content-bg {
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, .4);
  background-image: url("../img/wizard-bg.jpg");
  background-position: top center;
  background-size: cover;
  color:#fff;
}

@media screen and (max-width: 767px) {
  .wizard-content-bg {
    height:auto;
     
  }
}

.wizard-content-left {
  padding-top:30%;
}
@media screen and (max-width: 767px) {
  .wizard-content-left {
    padding-top:5%;
  }
}


.wizard-content-left h1 {
  color: #ffffff;
  font-weight: 600;
  padding: 0 20px;
  text-align: center;
  width:100%;
  text-shadow: 1px 1px 2px rgb(0, 0, 0, 30%);
}

.wizard-content-offer {
  max-width:700px;
  padding:0 10px;
}

.wizard-content-offer p {
  color:#ffffff;
}

sup {
  font-size:.75rem; 
  top: .75rem;
  vertical-align: text-top;
}


.wizard-content-offer .logo {
  max-width:150px;
  margin:0 auto;
}

.form-step-nav  {
  margin:20px 0 60px 0;
  text-align: center;
}

.formArea {
  padding:0 20px 0 20px;
}

.form-wizard {
  color: #333;
  max-width: 500px;
  margin:0 auto;
}
.form-wizard .wizard-form-radio {
  display: inline-block;
  margin-left: 5px;
  position: relative;
}
.wizard-form-radio label {
  background-color: #ffffff;
  border:1px solid #ccc;
  width: 100%;
  padding:20px 10px;
  margin:5px 0;
}

.form-wizard .wizard-form-radio input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #dddddd;
  height: 25px;
  width: 25px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.form-wizard .wizard-form-radio input[type="radio"]:focus {
  outline: 0;
}
.form-wizard .wizard-form-radio input[type="radio"]:checked {
  background-color: #f26924;
}
.form-wizard .wizard-form-radio input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 50%;
  left: 1px;
  right: 0;
  margin: 0 auto;
  top: 8px;
}
.form-wizard .wizard-form-radio input[type="radio"]:checked::after {
  content: "";
  display: inline-block;
  webkit-animation: click-radio-wave 0.65s;
  -moz-animation: click-radio-wave 0.65s;
  animation: click-radio-wave 0.65s;
  background: #000000;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
  border-radius: 50%;
}
.form-wizard .wizard-form-radio input[type="radio"] ~ label {
  padding-left: 10px;
  cursor: pointer;
}
.form-wizard .form-wizard-header {
  text-align: center;
}
.form-wizard .form-wizard-next-btn, .form-wizard .form-wizard-previous-btn, .form-wizard .form-wizard-submit {
  background-color: #51b057;
  color: #ffffff;
  display: inline-block;
  min-width: 100px;
  min-width: 120px;
  padding: 10px;
  text-align: center;
}
.form-wizard .form-wizard-next-btn:hover, .form-wizard .form-wizard-next-btn:focus, .form-wizard .form-wizard-previous-btn:hover, .form-wizard .form-wizard-previous-btn:focus, .form-wizard .form-wizard-submit:hover, .form-wizard .form-wizard-submit:focus {
  color: #ffffff;
  opacity: 0.6;
  text-decoration: none;
}
.form-wizard .title  {
  text-align: center;
  margin-bottom:20px;
}
.form-wizard .wizard-fieldset {
  display: none;
}
.form-wizard .wizard-fieldset.show {
  display: block;
}
.form-wizard .wizard-form-error {
  display: none;
  background-color: #d70b0b;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.form-wizard .form-wizard-previous-btn {
  background-color: #f26924;
}
/*.form-wizard .form-control {
  font-weight: 300;
  height: auto !important;
  padding: 15px;
  color: #888888;
  background-color: #f1f1f1;
  border: none;
}
.form-wizard .form-control:focus {
  box-shadow: none;
}*/
.form-wizard .form-group {
  position: relative;
}
.form-wizard .wizard-form-text-label {
  position: absolute;
  left: 10px;
  top: 16px;
  transition: 0.2s linear all;
}
.form-wizard .focus-input .wizard-form-text-label {
  color: #51b057;
  top: -18px;
  transition: 0.2s linear all;
  font-size: 12px;
}
.form-wizard .form-wizard-steps {
  margin: 30px 0;
}
.form-wizard .form-wizard-steps li {
  width: 19%;
  float: left;
  position: relative;
}
.form-wizard .form-wizard-steps li::after {
  background-color: #f3f3f3;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}
.form-wizard .form-wizard-steps li span {
  background-color: #dddddd;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  position: relative;
  text-align: center;
  width: 40px;
  z-index: 1;
}
.form-wizard .form-wizard-steps li:last-child::after {
  width: 50%;
}
.form-wizard .form-wizard-steps li.active span, .form-wizard .form-wizard-steps li.activated span {
  background-color: #000;
  color: #ffffff;
}
.form-wizard .form-wizard-steps li.active::after, .form-wizard .form-wizard-steps li.activated::after {
  background-color: #000;
  left: 50%;
  width: 50%;
  border-color: #51b057;
}
.form-wizard .form-wizard-steps li.activated::after {
  width: 100%;
  border-color: #51b057;
}
.form-wizard .form-wizard-steps li:last-child::after {
  left: 0;
}
.form-wizard .wizard-password-eye {
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
@keyframes click-radio-wave {
  0% {
    width: 25px;
    height: 25px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    width: 60px;
    height: 60px;
    margin-left: -15px;
    margin-top: -15px;
    opacity: 0.0;
  }
}




.lp-disclaimer {
  font-size:.5rem;
  width:100%;
}


/********** BUTTONS ************/
.btn-primary {
  background: #51b057;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  display: inline-block;
  min-width: 120px;
  text-align: center;
}

.btn-primary:hover {
  background: #57c45f;
  text-decoration: none;
}

.btn-primary:active {
  background: #57c45f;
  text-decoration: none;
}

.btn-primary:focus {
  background: #57c45f;
  text-decoration: none;
}

.btnOrange {
  background: #db922d;
  font-size:1.5rem;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  display: inline-block;
  min-width: 120px;
  text-align: center;
}
.btnOrange:hover {
  background: #f7a532;
  text-decoration: none;
}

.btnOrange:active {
  background: #db922d;
  text-decoration: none;
}

.btnOrange:focus {
  background: #db922d;
  text-decoration: none;
}


.startForm .btnOrange {
  position:fixed;
  bottom:0;
}



.btnPrev {
  font-size:1.5rem;
  color:#fff; 
  border:1px solid #ffffff; 
  padding:20px 0 0 0; 
  border-radius: 1px;
  cursor: pointer;
  padding: 8px 5px;
  display: inline-block;
  min-width: 120px;
  text-align: center;

}
.btnPrev:hover { text-decoration:none; color:#333333; border:1px solid #333;}




#footer {
  padding:20px 20px 100px 20px;

  background-color:#000;
  color:#fff;
}