/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

sup {
   font-size: 10px;
   vertical-align:super;
   line-height: 40px;
}

#quiz {
	width:700px;
}

/*form styles*/
#quizForm fieldset {
	border: 0 none;
	border-radius: 3px;
	box-sizing: border-box;
	width: 700px;
	/*stacking fieldsets above each other*/
	position: absolute;
}

		@media only screen and (max-width: 920px){
			#quizForm fieldset {width: 100%;}
}

/*Hide all except first fieldset*/
#quizForm fieldset:not(:first-of-type) {
	display: none;
}



/*scheduler styling*/
#quizForm2 h1 {font-size:2em; font-weight:300; margin:40px 0 0 0; font-family: 'Lato', sans-serif;}
		@media only screen and (max-width: 920px){
			#quizForm h1 {font-size:1.5em; font-weight:bold; margin:20px 0 0 0; font-family: 'Lato', sans-serif;}
}
	

#quizForm2 h2 {font-size:1.5em; font-weight: 600; font-family: 'Lato', sans-serif; margin:20px 0 0 0;}
#quizForm2 h4 {font-size:1.2em; font-weight: 600; font-family: 'Lato', sans-serif; margin:20px 0 20px 0;}

#quizForm2 {
	text-align: center;
	padding-bottom:40px;
}



#quizForm2 fieldset {

	border: 0 none;
	border-radius: 3px;

	box-sizing: border-box;
	width: 670px;
	/*stacking fieldsets above each other*/
	position: relative;
}

		@media only screen and (max-width: 920px){
			#quizForm2 fieldset {width: 100%;}
}

/*Hide all except first fieldset*/
#quizForm2 fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#quizForm2 input, #quizForm2 button {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 16px;
}



	@media only screen and (max-width: 920px){
			#quizForm2 button {max-width: 80%!important;}
			#quizForm2 input {max-width: 80%!important;}
}



#quizForm2 .form-radio .form-check-label {
	height: 55px;
	border: 1px solid #aaa;
    border-radius: 8px;
    display: flex;
    align-items: center;
    max-width:300px;
	min-width:250px;
	padding:20px;
    justify-content: center;
    margin-bottom: 1em;
    cursor: pointer;
}

#quizForm2 .form-step-controls {
	width:100%;
	padding:0 0 0 0;
}

/*scheduler styling*/





.form-step-controls input:hover {border:1px solid #999!important;}
.form-step-controls input {margin:0 auto;}

/*
input::placeholder {text-align: center!important; display:none;}*/
select.form-control:not([size]):not([multiple]) {
    height: 55px!important;
	max-width:500px!important;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
}

	@media only screen and (max-width: 920px){
	select.form-control:not([size]):not([multiple]) {
    height: 55px!important;
	max-width:80%!important;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
}
}


.form-row input {width:50%!important; margin:0; padding:0;}

.form-select select {
	-moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.form-select {
	position: relative;
}
.form-select:after {
	
	border-color: #777 #fff;
	border-style: solid;
	border-width: 10px 6px 0 6px;
}

.form-radio input {
	display: none;
}

.form-radio .form-check-label {
	height: 55px;
	border: 1px solid #aaa;
    border-radius: 8px;
    display: flex;
    align-items: center;
    min-width: 65px;
	padding:20px;
    justify-content: center;
    margin-bottom: 1em;
    cursor: pointer;
}
.form-radio .form-check-label:hover {
	border-color: #222222;
}
.form-radio input:checked ~ .form-check-label{
	border-color: #222222;
	background: #222222;
	color: #fff;
}


.form-step-controls input {
	box-shadow:inset 0 1px 2px 2px #eee; }
.form-step-subtitle {margin:0 0 20px 0;}
.form-step-controls {margin:0 0 25px 0;}




.form-control {max-width: 700px!important;}

.btn-outline-orange {
	background:#fff;
	border-color: #f26924!important; 
	color:#f26924!important;
}

.btn-outline {
	background: #fff;
	border:1px solid #cccccc!important;
	color:#ccc!important;
}
.btn-outline:hover {
	border-color: #333!important;
	color:#777!important;
}


.btn-outline {
	background: #fff;
	border:1px solid #cccccc!important;
	color:#ccc!important;
}


.btn-light {
	color: #ccc;
	border-color: #ccc;
	background: transparent;
}


/*headings*/

.form-step-title {padding:0 0 20px 0;}


.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}

.form-error {
	color: #D0021B;
	font-style: italic;
	font-size:12px;
	padding-top:20px;
}


#footer a{color:#333;}
#footer p{font-size:9px; line-height: 12px; color:#555; font-weight: 300; padding:0 20px; }