/***** THEMES *****/
.themeBG {
    background-color: #7689A3 !important;
}

.themeColor {
    color: #7689A3 !important;
}

.form-block {
    background: rgba(118, 137, 163, 0.4) !important;
}
