/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

    body.body_new {
        color: rgba(0,0,0,0.7);
    }

.main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.mainRow {
    display: flex;
    margin: 0;
    padding: 0;
}

.div-split {
    padding: 1rem;
}

.div-split.left {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    width: 100%;
    margin: 0;
    padding: 2rem;
    background-image: url('../img/wizard-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, .5);
    background-size: cover;
    -webkit-background-size: cover;
}

.div-split.right {   
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    width: 100%;
    margin: 0;
}

.div-split.left p,
.div-split.left h1,
.div-split.left h2 {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(0, 0, 0, 30%);
}

    .div-split.left h1 {
        font-size: 4em;
        font-weight: 600;
        line-height: 1.25em;
    }

    .div-split.left h2 {
        font-size: 2.5em;
    }

    .div-split.left p {
        font-size: 1.5em;
        margin-top: 10rem;
    }

    @media (max-width: 991px) {
        .div-split.left h1 {
            font-size: 3em;
        }
    }

    @media(max-width: 767px) {
        .mainRow {
        flex-wrap: wrap;
    }

    .div-split {
        flex-basis: 100% !important;
    }

    .div-split.left {
            height: 325px;
            max-height: fit-content;
            justify-content: center;
    }
        .div-split.left h1 {
            font-size: 2.2em;
        }

        .div-split.left h2 {
            font-size: 1.75em;
        }

        .div-split.left p {
            font-size: 1.2em;
            margin-top: 0;
        }
}

.lp-disclaimer {
    font-size: 0.7rem;
    color: white;
    text-align: center;
}

@media (max-width: 767px) {
    .lp-disclaimer {
        font-size: 0.5rem;
    }
}

.form-section .forms {
    background: #fff;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    color: #555;
}

.divRow {
    border-bottom: 2px solid rgba(0,0,0,0.1);
}

#bodyColor .container {
    padding-right: 0;
    padding-left: 0;
}

img.logo {
    width: 260px;
    margin: 1rem 0;
}

@media screen and (max-width: 576px) {
    img.logo {
        width: 200px;
    }
}

.CompliLink {
    color: #222222 !important;
}


#leadform h1 {
    font-size: 1.5em;
    margin: 2rem 0;
    font-family: 'Lato', sans-serif;
    color: rgba(0,0,0,0.77);
}

@media only screen and (max-width: 920px) {
    #leadform h1 {
        margin: 1rem 0;
        font-family: 'Lato', sans-serif;
    }
}

@media only screen and (max-width: 576px) {
    #leadform h1 {
        font-size: 1.5em;
    }
}


#leadform h2 {
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    margin: 20px 0 0 0;
}

.fs12 {
    font-size: 12px !important;
}

.fs14 {
    font-size: 14px !important;
}

.fs16 {
    font-size: 16px !important;
}


/*form styles*/
#blockLogo {
    background-color: #ffffff;
    margin: 1rem 0;
}

    #blockLogo.topLogo {
        margin: auto;
    }

#blockHero img {
    display: block;
    margin-top: 1.5rem;
    max-width: 700px;
}

    #blockHero img.lowpay {
        display: block;
        margin: 1rem auto;
        max-width: 700px;
    }

#blockHeroA img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

#bodyColor {
    background-color: #fff;
}

.bodyMax {
    max-width: 700px;
    margin: 0 auto;
}

#blockForm {
    max-width: 700px;
    margin: 2rem auto;
}

.btn-align {
    max-width: 300px;
    display: inline-block;
    width: 35% !important;
}

/*Hide all except first fieldset*/
#leadform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#leadform input {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: auto;
}

select.form-control:not([size]):not([multiple]) {
    height: 55px !important;
    max-width: 500px !important;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 920px) {
    select.form-control:not([size]):not([multiple]) {
        height: 55px !important;
        max-width: 80% !important;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.form-row input {
    width: 50% !important;
    margin: 0;
    padding: 0;
}

.form-select select {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
}

.form-select {
    position: relative;
}

.form-select:after {
    border-color: #777 #fff;
    border-style: solid;
    border-width: 10px 6px 0 6px;
}

.form-radio input {
    display: none;
}

.form-radio .form-check-label {
    height: 55px;
    border: 1px solid #aaa;
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 65px;
    justify-content: center;
    margin-bottom: 1em;
    cursor: pointer;
}

.form-radio .form-check-label:hover {
    border-color: #222222;
}

.form-radio input:checked ~ .form-check-label {
    border-color: #222222;
    background: #222222;
    color: #fff;
}


.form-step-controls input {
    box-shadow: inset 0 1px 2px 2px #eee;
}

.form-step-subtitle {
    margin: 0 0 20px 0;
}

.form-step-controls {
    margin: 0 0 25px 0;
}

/*buttons*/
.controlBtn.btn-primary {
    color: white;
    background: #51b057;
}

.controlBtn {
    flex: 1;
    min-width: 100px;
}

.btnRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btnRow button {
    color: rgba(0,0,0,0.77)
}

.btn {
    box-shadow: none !important;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}

.form-control {
    max-width: 700px !important;
}

.btn-outline {
    background: #fff;
    border: 1px solid #cccccc !important;
    color: #ccc !important;
}

@media (max-width: 767.9px) {
    .btn {
        font-size: 16px;
    }
}

.btn-primary:hover {
    background: #51b057 !important;
    opacity: 0.7;
    color: rgba(0,0,0,0.77) !important;
}

.btn-light {
    color: #ccc;
    border-color: #ccc;
    background: transparent;
}

/*headings*/

.form-step-title {
    padding: 0 0 20px 0;
}


.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

.form-error {
    color: #D0021B;
    font-style: italic;
    font-size: 12px;
    padding-top: 20px;
}


#footer a {
    color: #333;
}

#footer p {
    font-size: 10px;
    line-height: 1.2em;
    color: rgba(0,0,0,0.77);
}

footer {
    margin: 0 1rem;
}

@media screen and (max-width: 767px) {
    footer {
        margin: 0 0.5rem;
    }
}

@media screen and (max-width: 576px) {
    footer {
        margin: 0 0.1rem;
    }
}

.PhoneMob {
    display: none !important;
}

.PhoneDesk {
    display: block !important;
}

.superPct {
    font-size: 11px;
    font-weight: 200;
    font-family: "Lato", sans-serif;
    margin-left: 2px;
}

/******** Hide Mobile Phone ********/
@media (max-width: 767px) {

    .PhoneMob {
        display: inline-block !important;
        text-align: center;
        padding-left: 50px;
    }

    .PhoneDesk {
        display: none !important;
    }
}


#banner-alert {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: .9em;
    color: #ffffff;
    padding: 5px 5px;
    background-color: #000000 !important;
}

.discTxt {
    font-size: small;
}

.row .element {
    display: inline;
}

div .col-3 {
    text-align: left;
    margin: 0px;
    padding: 0px;
}


.quoteSrc {
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 20px;
}

    .quoteSrc a {
        color: #555;
    }

        .quoteSrc a:hover {
            color: #555;
            text-decoration: none;
            cursor: pointer;
        }

        .quoteSrc a:visited {
            color: #555;
            text-decoration: none;
        }

        .quoteSrc a:active {
            color: #555;
            text-decoration: none;
        }

div .col-9 {
    padding-left: 80px;
    padding-top: 30px;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
}


h4 {
    font-size: 40px;
    font-weight: 600;
}

h5 {
    font-size: 30px;
    font-weight: 600;
}

h6 {
    font-size: 20px;
    font-weight: 600;
}

@media (max-width: 520px) {
    .row {
        margin: 0;
    }

    p .element {
        font-size: x-small;
    }

    .element span {
        font-size: xx-small;
    }

    div .col-9 {
        padding-left: 10px;
        padding-right: 0px;
        font-size: 15px;
        line-height: 17px;
        padding-top: 15px;
    }

    h1 {
        font-size: 50px;
    }

    h4 {
        font-size: 24px;
        font-weight: 600;
    }

    h5 {
        font-size: 20px;
        font-weight: 600;
    }

    h6 {
        font-size: 17px;
        font-weight: 600;
    }

    h3 {
        font-size: 28px;
    }

    .col-3 img {
        transform: scale(0.85);
    }

    .row .element {
        text-align: center;
    }
}


/******** Global ********/

body {
    color: #555;
    font-family: "Lato", sans-serif;
}


h1 sup {
    font-size: .08em;
    vertical-align: top;
    line-height: 40px;
}

h2 sup {
    font-size: .1em;
    vertical-align: top;
    line-height: 38px;
}

@media (max-width: 991px) {
    h1 sup {
        line-height: 27px;
    }
}

@media (max-width: 767px) {
    h1 sup {
        line-height: 25px;
    }
    h2 sup {
        line-height: 25px;
    }
}

h1 sup20 {
    font-size: .1em;
    vertical-align: top;
    line-height: 35px;
    margin-left: -5px;
}

.tcpa p {
    font-size: 10px;
    font-weight: 400;
    color: #8f8f8f;
    line-height: 14px;
    margin-bottom: 0;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
}

.req {
    color: red;
    position: absolute;
    left: 0;
    top: 100%;
    font-size: 12px;
}

.input-with-icon {
    position: relative;
}

.input-icon {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 24px;
    text-align: center;
    font-size: 20px;
    color: #bdbdbd;
    margin-top: 5px;
    margin-left: 2px;
}

.form-step .input-icon {
    line-height: 46px;
}

.form-step .input-with-icon .form-control {
    padding-left: 35px;
}

/* form controls*/

.form-control {
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 50px !important;
    webkit-box-shadow: inset 0 2px 2px rgb(0 0 0 / 8%);
    box-shadow: inset 0 2px 2px rgb(0 0 0 / 8%);
    margin-bottom: 1em;
    color: #999;
}

@media (max-width: 767.9px) {
    .form-section .form-control {
        font-size: 14px;
    }
}

input {
    webkit-box-shadow: inset 0 2px 2px rgb(0 0 0 / 8%);
    box-shadow: inset 0 2px 2px rgb(0 0 0 / 8%);
}

    input.has-error {
        border-color: #D0021B;
    }

.form-select select {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
}

.form-select {
    position: relative;
}

    .form-select:after {
        content: '';
        position: absolute;
        right: 10px;
        top: 22px;
        border-color: #777 #fff;
        border-style: solid;
        border-width: 10px 6px 0 6px;
    }

.form-radio input {
    display: none;
}

.form-radio .form-check-label {
    height: 55px;
    border: 1px solid #aaa;
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 65px;
    justify-content: center;
    margin-bottom: 1em;
    cursor: pointer;
}

    .form-radio .form-check-label:hover {
        border-color: #222222;
    }

.form-radio input:checked ~ .form-check-label {
    border-color: #222222;
    background: #222222;
    color: #fff;
}

.badgeFixBottom {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99;
}



badgeFixTopP {
    position: fixed;
    top: 122px;
    left: -3px;
    z-index: 99;
}

@media (max-width: 520px) {

    badgeFixTopP {
        position: fixed;
        transform: scale(.6);
        top: 125px;
        left: -68px;
        z-index: 99;
    }
}

.badgeFixTop {
    position: fixed;
    top: 122px;
    left: -3px;
    z-index: 99;
}

@media (max-width: 520px) {

    .badgeFixTop {
        position: fixed;
        transform: scale(.6);
        top: 95px;
        left: -68px;
        z-index: 99;
    }
}

/******** Header ********/

/*header {
	font-size: 21px;
	padding: 10px 0;
	font-weight: 600;
}

header a {
	color: #DD5D22 !important;
}

	header .logo {
		height: 90px;

	}
*/

/******** Header ********/

header {
    font-size: 21px;
    font-weight: 600;
}

    header a {
        color: #DD5D22 !important;
    }

    header .logo {
        height: 90px;
        background-color: #fff;
        margin-top: 10px;
    }

@media (max-width: 767.9px) {
    header {
        text-align: center;
    }
}

header .badge-lto {
    height: 120px;
    transform: rotate(-8deg);
    padding-top: 5px;
}

@media (max-width: 520px) {
    header .badge-lto {
        height: 80px;
        z-index: 99;
    }

    header .logo {
        height: 70px;
    }
}

@media (max-width: 320px) {
    header .badge-lto {
        height: 60px;
        z-index: 99;
    }

    header .logo {
        height: 60px;
    }
}



/******** Multi Step Form ********/

.step-loader {
    padding-bottom: 10px;
}

.form-section {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: #fff;
}

@media (max-width: 767.9px) {
    .form-section {
        padding: 0;
        border-bottom: 1px solid #ccc;
        justify-content: space-between;
        height: auto;
    }
}

.form-section .form-step {
    display: none;
}

    .form-section .form-step.active {
        display: block;
    }



.form-section h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
    margin: 0;
}

@media (max-width: 767.9px) {
    .form-section h3 {
        font-size: 20px;
        font-weight: 400;
    }
}

.form-section h4 {
    font-size: 40px;
    font-weight: 900;
}

@media (max-width: 767.9px) {
    .form-section h4 {
        font-size: 22px;
    }
}


.form-section .helper {
    width: 420px;
    max-width: 90%;
    margin: 0 auto;
}

@media (max-width: 767.9px) {
    .form-section .helper {
        font-size: 12px;
    }
}

.form-section .form-error {
    height: 0;
    color: #D0021B;
    font-style: italic;
}

@media (max-width: 767.9px) {
    .form-section .forms {
        border: 0;
        border-radius: 0;
        width: 100%;
    }
}

.form-section .forms .form-step-title {
    font-size: 20px;
    font-weight: 600;
}

.form-section .forms .form-step.last .form-step-title {
    font-size: 24px;
}

@media (max-width: 767.9px) {
    .form-section .forms .form-step-title {
        font-size: 18px;
    }
}

.form-section .forms .form-step-subtitle {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 1em;
    line-height: 1;
}

.form-section .forms .form-step.last .form-step-subtitle {
    font-style: normal;
    line-height: 1.6;
    margin-bottom: 0;
}

.form-section .forms .form-step.last .phone-number a {
    font-size: 24px;
    color: #DD5D22;
}

.form-section .forms .form-step.last .request {
    margin-top: 1em;
}

    .form-section .forms .form-step.last .request a {
        color: #555;
        text-decoration: underline;
    }

/******** Testimonial ********/

.testimonial-section {
    padding: 85px 0 135px;
    font-size: 25px;
    font-weight: 300;
    position: relative;
}

@media (max-width: 767.9px) {
    .testimonial-section {
        padding: 35px 0 115px;
        font-size: 14px;
    }
}

.testimonial-section .author {
    font-size: 20px;
    margin-top: 2em;
}

@media (max-width: 767.9px) {
    .testimonial-author {
        font-size: 12px;
    }
}

.testimonial-section .figures {
    width: 450px;
    max-width: 90%;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

    .testimonial-section .figures .figure {
        width: 128px;
        height: 128px;
        background: rgb(118,163,140);
        border-radius: 50%;
        color: #fff;
        line-height: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

@media (max-width: 767.9px) {
    .testimonial-section .figures .figure {
        width: 80px;
        height: 80px;
    }
}

.testimonial-section .figures .figure .figure-value {
    font-size: 40px;
    font-weight: 700;
}

@media (max-width: 767.9px) {
    .testimonial-section .figures .figure .figure-value {
        font-size: 30px;
    }
}

.testimonial-section .figures .figure .figure-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    margin-top: .3em;
}

@media (max-width: 767.9px) {
    .testimonial-section .figures .figure .figure-title {
        font-size: 12px;
    }
}

/****** ZERO ZERO ZERO ******/

.super {
    font-size: 11px;
    font-weight: 200;
    font-family: "Lato", sans-serif;
    vertical-align: super;
}

.zero-disclaimer {
    padding-top: 10px;
    font-size: 12px;
    font-weight: 200;
    font-family: "Lato", sans-serif;
    vertical-align: super;
}


/******** Perks ********/

.perks-section {
    background: rgba(165,193,148,0.20);
    padding: 150px 0 50px;
    font-size: 16px;
    color: #777;
}

@media (max-width: 767.9px) {
    .perks-section {
        line-height: 1.15;
        padding: 80px 0 20px;
    }
}

.perks-section .perks-icon {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767.9px) {
    .perks-section .perks-icon {
        height: 65px;
    }
}

.perks-section .perks-icon img {
    max-height: 100%;
}

.perks-section .perks-title {
    margin-top: 1em;
    font-weight: 700;
}



/******** Get Started ********/

.start-section {
    height: 600px;
    display: flex;
    align-items: center;
    background: url('../img/hero1a.jpg') no-repeat center left;
    background-size: cover;
    color: #fff;
}

@media (max-width: 767.9px) {
    .start-section {
        /* Need to replace with another image for mobile */
        background-image: url('../img/hero-bottom-couple.jpg');
        align-items: flex-start;
        padding-top: 30px;
    }
}

.start-section h1 {
    font-size: 60px;
    font-weight: 700;
}

@media (max-width: 767.9px) {
    .start-section h1 {
        font-size: 30px;
    }
}

.start-section p {
    font-size: 25px;
    width: 500px;
    margin: 0 auto 1.5em;
    font-weight: 600;
    max-width: 100%;
}

@media (max-width: 767.9px) {
    .start-section p {
        font-size: 15px;
    }
}

.start-section .btn {
    width: 300px;
}

.formOpt {
    color: #777777;
    font-size: 12px;
    line-height: 14px;
}

.introMssg {
    font-size: 16px;
    line-height: 18px;
    margin: 10px 0 0 0;
}



@media (max-width: 767.9px) {
    .introMssg {
        text-align: center;
    }

    .clicktocall {
        text-align: center;
    }
}

/******** Footer ********/

footer {
    padding: 30px 0;
    color: #95979A;
    font-size: 12px;
    line-height: 1.4;
}

@media (max-width: 767.9px) {
    footer {
        padding: 40px 0;
        font-size: 11px;
    }
}

footer .logos {
    height: 65px;
}

@media (max-width: 767.9px) {
    footer .logos {
        height: 50px;
    }
}

footer .logos img {
    max-height: 100%;
}

